.pagination-inactive {
  display: none;
}

.pagination-number-wrapper {
  display: flex;
}

.pagination-site-number-wrapper {
  display: flex;
}

.pagination-button-not-displayed {
  display: none;
}

.pagination-placeholder {
  display: none;
}

.pagination-placeholder.active{
  display: flex;
}
