.pagination-inactive {
  display: none;
}

.pagination-number-wrapper {
  display: flex;
}

.pagination-site-number-wrapper {
  display: flex;
}

.pagination-site-number-wrapper button.active {
  background-color: #000000;
  color: #ffffff;
}

.pagination-button-not-displayed {
  display: none;
}

.pagination-placeholder {
  display: none;
  justify-content: center;
}

.pagination-placeholder.active{
  display: flex;
}
